@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sydney<br />
    <abbr title="Phone">P:</abbr>
    <a href="mailto:hiralmehta.ce@gmail.com">hiralmehta.ce@gmail.com</a><br />
</address>
