<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Unity stuff -->
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perCall" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <!-- Framework -->
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="timespan" type="System.Timespan, mscorlib" />
    <!-- Sequences -->
    <typeAlias alias="ISequenceGenerator" type="SequenceGnerator.ISequenceGenerator, SequenceGnerator" />
  </typeAliases>
  <container>
    <register name="01-AllNumberSequence" type="ISequenceGenerator" mapTo="SequenceGnerator.AllNumberSequence, SequenceGnerator">
      <lifetime type="singleton" />
    </register>
    <register name="02-OddNumberSequence" type="ISequenceGenerator" mapTo="SequenceGnerator.OddNumberSequence, SequenceGnerator">
      <lifetime type="singleton" />
    </register>
    <register name="03-EvenNumberSequence" type="ISequenceGenerator" mapTo="SequenceGnerator.EvenNumberSequence, SequenceGnerator">
      <lifetime type="singleton" />
    </register>
    <register name="04-MultipleofThreeFiveSequence" type="ISequenceGenerator" mapTo="SequenceGnerator.MultipleofThreeFiveSequence, SequenceGnerator">
      <lifetime type="singleton" />
    </register>
    <register name="05-FibonacciSequence" type="ISequenceGenerator" mapTo="SequenceGnerator.FibonacciSequence, SequenceGnerator">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>
